
.cartbody {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: flex-start;
    margin:10px 10px;
    /* border:solid black; */
}
.cartitem{
   
    border:solid 1px black;
}