.checkout_main_body{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
    align-items: stretch;
    background: rgb(179, 200, 209);
   

}

.checkout_body_form{
    padding-top: 10px;
    width: 45%;
    text-align: center;
    margin-bottom:10px;
}



.checkout_body_form  input {
    margin: 10px 10px;
    font-size: 14pt;
    width: 300px;
    padding: 7px;
}

.checkout_title{
    font-size: 20pt;
}

/* 
.checkout_name_email_flex input{
    width: 50%;
    background-color:pink
}

.checkout_sec_wrapper input{
    width: 95%;
}

.checkout_third_wrapper input {
    width: 30%;
} */

.checkout_third_wrapper select {
    width: 320px;
    padding: 7px;
    height: 30px;
    background-color:#C5C6C7;
    margin-right: 10px;
    font-size: 11pt;
    outline: none;
    margin-bottom: 15px;

}

.checkout_summary{
    padding: 20px 30px;

}

.checkout_box{
    box-shadow: 17px 14px 30px 0px rgba(23,17,23,1);
    padding: 30px;
    margin:10px 10px;
    background: rgba(147,206,222,1);

   
}
.minicart_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: stretch;
    padding: 5px;
    letter-spacing: .7pt;
}

.minicart_wrapper{

    padding-top: 14px;
    width: 200px;
   
}

.minicart_wrapper > div{
    padding: 2px 25px;
    font-size: 10pt;
    text-align: right;
}

.minicart_producttotal{
    padding: 20px 10px 16px 10px;
    width: 50px;
    font-size: 10pt;
}

.minicart_summary{
    margin-bottom: 10px;
    font-size: 16pt;
    text-align: left;
    padding: 0 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(83, 83, 83, 0.267);
}

.minicart_ordertotals{
    padding: 10px 10px 0 0;
    font-size: 10pt;
    text-align: right;
    border-top: 1px solid rgba(83, 83, 83, 0.267);

    /* div{
        display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    justify-content: flex-end;
        align-items: stretch;
        padding: 1px 0;
        span{
            padding-right: 10px;
        }
        div{
            width: 65px;
        }
    } */
}

.minicart_ordersubtotals{
    border-top: 1px solid rgba(83, 83, 83, 0.267);
    font-size: 10pt;
    text-align: right;
    font-weight: bold;
}

.checkout_button_tocart {
    text-align: right;
    margin-top: 10px;
}
