nav {
    background-color: pink;
    min-height: 32px;
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%; 
    justify-items: end;
    align-items: center
}

.nav-logo {
    justify-self: start;
}

