nav {
    background-color: pink;
    padding: 20px;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%; 
    justify-items: end;
    align-items: center
}

.nav-logo {
    justify-self: start;
}

