
.confirmation-body
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
}


.order-confirmation{
    box-shadow: 17px 14px 30px 0px rgba(23,17,23,1);
    padding: 50px 50px;
    margin:50px 250px;
   
}

.heading{

    margin:0 auto;
    padding:20px 20px;
}
