table {
    border-collapse: collapse;
    width: 100%;
    margin-left:2%;
    margin-right:2%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  tr:nth-child(odd){color: black}
  
  th {
    background-color: lightblue;
    color: white;
  }
  
  