.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 95vh
}

img {
    width: 150px;
    height: 150px
}

.item {
    display: grid;
    margin: 0 auto;
}

.item > * {
    text-align: center;
    justify-content: center;
}

.item-contain {
    min-height: 150px;
}

.sidebar {
    grid-column: span 3;
    align-self: start;
    justify-self: center;
}

.footer {
    
    grid-column: span 3;
    grid-row-start: end;
}

p {
    font-size: small
}

