.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
    grid-gap: 10px;
    align-items: center;
}

img {
    width: 200px
}

.item {
    display: flex;
    margin: 0 auto;
}

.item > * {
    text-align: center
}

