.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 1fr 1fr 1fr 5%;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 96vh
}

img {
    width: 70px;
    height: 70px
}

.tabs{
    margin:10px 10px;
}
.item {
    display: grid;
    margin: 0 auto;
}

.item > * {
    text-align: center;
    justify-content: center;
}

.item-contain {
    min-height: 200px;
}

.sidebar {
    grid-column: span 3;
}

.footer {
    grid-column: span 3;
    grid-row-start: 5 
}

p {
    font-size: small
}

